@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color-a: #0c6170;
  --dark-color-b: #37beb0;
  --light-color-a: #e8f3f1;
  --light-color-b: #eefcfa;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--light-color-b);
  margin: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color-a);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
}

/* Chat Page */

.chattr-chat {
  max-width: 1100px;
  background: #fff;
  margin: 30px auto;
  overflow: hidden;
}

.chattr-chat__header {
  background: var(--dark-color-a);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chattr-chat__main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.main__sidebar {
  background: var(--dark-color-b);
  color: #fff;
  padding: 20px 20px 60px;
  overflow-y: scroll;
}

.main__sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.main__sidebar h3 {
  margin-bottom: 15px;
}

.main__sidebar ul li {
  padding: 10px 0;
}

.main__messages {
  padding: 30px;
  max-height: 500px;
  overflow-y: scroll;
}

.main__messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color-a);
  border-radius: 5px;
}

.main__messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.main__messages .message .meta span {
  color: #777;
}

.chattr-chat__form {
  padding: 20px 30px;
  background-color: var(--dark-color-a);
}

.chattr-chat__form form {
  display: flex;
}

.chattr-chat__form input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
}

/* Chattr Join Page */
.chattr-join {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
}

.chattr-join__header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chattr-join__main {
  padding: 30px 40px;
  background: var(--dark-color-b);
}

.chattr-join_main p {
  margin-bottom: 20px;
}

.chattr-join__main .main__form {
  display: flex;
  flex-direction: column;
}

.chattr-join__main .form__control {
  margin-bottom: 20px;
}

.chattr-join__main label {
  display: block;
  margin-bottom: 5px;
}

.chattr-join__main input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.chattr-join__main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
  border: none;
}

.chattr-join__main .form__submit-btn {
  margin-top: 20px;
  width: 120px;
  align-self: center;
  text-transform: uppercase;
  padding: 10px;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}
